*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header{
    position: sticky; 
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header img{
    width: 100px;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
}

nav ul li a:hover,
nav ul li a.active{
    color: goldenrod;
}

/* content */
.content{
    padding: 4% 0 8%;
    width: 100%;
    background-color: #f1f1f1;
}

.facContainer{
    position: relative;
    padding: 0 2%;
    margin: 0 10%;
}

.facContainer h1{
    padding: 0 35px;
    font-size: 26px;
    margin-bottom: 3px;
    font-weight: 700;
}

.lists{
    padding: 20px 35px;
}

.listRow{
    margin: 2% 0;
    padding: 2% 0;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fefefe;
}

.listRow:hover{
    transform: scale(1.02);
    background-color: #f6f6f6;
    border: 1px solid #adadad;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.listImg{
    width: 450px;
    height: 300px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.listImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc{
    width: 300px;
}

.desc h2{
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: 700;
}

.desc p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

/* footer */
footer{
    background-color: #424043;
    padding: 30px 15px;
    position: relative;
    text-align: left;
}

.container{
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.row{
    display: flex;
}

.col{
    width: 80%;
    color: goldenrod;
}

.col p{
    margin-bottom: 4px;
}

.follow{
    width: 20%;
    color: goldenrod;
}

.follow ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.follow ul li{
    margin-right: 10px;
}

.follow img{
    width: 30px;
}

.copyr{
    margin-top: 8px;
    text-align: center;
    color: darkgoldenrod;
}